

# gitignore Documentation - http://git-scm.com/docs/gitignore

# Log
log/
logs/

# JUnit 5
test-output/

# TestNG
test-output/

# Arthas
arthas-output/

# Gradle
.gradle/

# Maven
target/

.clover/

# IDEA
.idea/
*.iml

# Visual Studio Code
.vscode/

# Eclipse
.settings/
.classpath
.project

