<?xml version="1.0" encoding="UTF-8"?>
<!-- https://logback.qos.ch/manual/configuration.html -->
<configuration scan="true" scanPeriod="10 seconds">
    <springProperty scope="context" name="log.name" source="spring.application.name"/>

    <property name="log.path" value="/opt/logs/${log.name}"/>

    <!--console仅用于本地debug调试-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
<!--            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{36} %msg%n</pattern>-->
            <pattern>%date %-5level [%thread] %logger{36} %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <!--默认的应用日志输出-->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/${log.name}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/${log.name}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>1</maxHistory>
            <maxFileSize>100MB</maxFileSize>
            <totalSizeCap>300MB</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date %-5level [%thread] %logger{36} %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!--打印需要单独收集的业务数据，如面向报表、业务明细等需求-->
    <appender name="REPORT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/${log.name}.report.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${log.path}/${log.name}.report.%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>1</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>300MB</maxFileSize>
        </triggeringPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="report" level="INFO" additivity="false">
        <appender-ref ref="REPORT"/>
    </logger>

    <logger name="sentinelRecordLogger" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </logger>
    <logger name="sentinelCommandCenterLogger" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </logger>

    <root>
        <level value="INFO"/>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
