<?xml version="1.0" encoding="UTF-8"?>
<!-- Configuration for production environment. -->
<configuration>
    <springProperty scope="context" name="appName" source="spring.application.name"/>
    <!-- Default configuration. -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <property name="STDOUT_PATTERN" value="%d [%t] %5p %c - %m%n"/>

    <property name="log.name" value="${appName}"/>
    <property name="log.path" value="/home/admin/logs"/>

    <!-- 控制台输出，注意这里不需要加自定义encoder，不需要输出为JSON格式, Docker Logging Driver会帮我们处理 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${STDOUT_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <!-- 写本地文件 -->
    <appender name="BIZ_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 自定义encoder以输出为JSON格式 -->
        <encoder class="com.leoao.lpaas.logback.LeoaoJsonLayoutEncoder"/>
        <file>${log.path}/${log.name}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${log.path}/${log.name}_%i.log</fileNamePattern>
            <maxIndex>1</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <!-- 仅允许100MB，不可调整 -->
            <maxFileSize>100MB</maxFileSize>
        </triggeringPolicy>
    </appender>

    <logger name="report" level="INFO" additivity="false">
        <appender-ref ref="BIZ_LOG"/>
    </logger>
    <!-- k8s liveness probe qos日志很多，不打印 -->
    <logger name="org.apache.dubbo.qos.command" level="WARN" additivity="false"/>

    <logger name="sentinelRecordLogger" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="BIZ_LOG"/>
    </logger>
    <logger name="sentinelCommandCenterLogger" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="BIZ_LOG"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="BIZ_LOG"/>
    </root>
</configuration>
